@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("./assets/fonts/Roboto-Bold.ttf");
}

$primary-color: hsl(4, 100%, 67%);
$color-1: hsl(234, 29%, 20%);
$color-2: hsl(235, 18%, 26%);
$color-3: hsl(231, 7%, 60%);
$white: #fff;

*,
*::after,
*::before{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Roboto";
    font-size: 1.6rem;
    box-sizing: border-box;
    color: $color-1;
}



.main-view{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.off{
    display: none;
}


.image{
width: 100%;

&__img{
    width: 100%;
}
}

.content{
    margin-top: 4.5rem;
    padding: 0 2.5rem;
    &__title{
        font-family: "Roboto-Bold";
        font-size: 4rem;
    }

    &__text{
        font-size: 1.8rem;
        margin-top: 1.5rem;
    }

    &__list{
        margin-top: 1.5rem;
        list-style: none;

        &-item{
            font-size: 1.7rem;
            display: flex;
            &:not(:first-of-type){
                margin-top: 1rem;
            }
        }
    }
}

.list-icon{
    margin-right: 1.2rem;
}

.form{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;

    & label{
        font-family: "Roboto-Bold";
        font-size: 1.2rem;
    }
}

.email{
    margin-top: 1rem;
    height: 5rem;
    border: 1px solid $color-3;
    border-radius: 8px;
    padding: 1.5rem;
    font-size: 1.8rem;
}

.btn{
    margin-top: 2rem;
    background-color: $color-1;
    border: none;
    border-radius: 8px;
    height: 6rem;
    color: $white;
    font-family: "Roboto-Bold";
    font-size: 1.6rem;
    cursor: pointer;
    width: 100%;
    
}

.success-view{
   padding: 20rem 2.5rem 0 2.5rem;

    & .btn{
        margin-top: 25rem;
    }
}

.success{

&__title{
    font-family: "Roboto-Bold";
    font-size: 4.5rem;
    margin: 3rem 0;
}

&__text{
    font-size: 1.7rem;
    color: $color-1;
}
}


